<%- include('../partials/header') %>

<div class="container">
  <h1 class="mt-4 mb-3">Página não encontrada</h1>
  
  <div class="alert alert-warning">
    <p>Desculpe, a página que você está procurando não foi encontrada.</p>
    <p>Por favor, verifique o URL ou retorne à <a href="/">página inicial</a>.</p>
  </div>
</div>

<%- include('../partials/footer') %>
