    </div>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> GanjaDAO - Todos os direitos reservados.</p>
        <p>Nós Que Plantamos. O Jardineiro Não é Traficante.</p>
    </footer>
</body>
</html>

